@{
    ViewData["Title"] = "Home Page";
}

<div id="header">
    <div id="headerIMG" class="position-absolute top-50 start-50 translate-middle">
        <h4 class="letrasHCalidad">100% CALIDAD</h4>
        <h3 class="letrasHD">TALI'S FAST FOOD</h3>

        <div id="btnRegistro">
            <a class="registroHome">Registrarse</a>
        </div>
    </div>
</div>
