
@{
    ViewBag.Title = "No Autorizado";
}

<div class="text-center mt-5">
    <h2>Acceso no Autorizado</h2>
    <a href="@Url.Action("Index", "InicioSesion")" class="btn btn-warning mt-2 pt-2 pb-2" id="bg-link" style="width: 12%; margin: 0 auto;">
        <span>Regresar</span>
    </a>
</div>

