/*Style Header*/
#headerSN {
    width: 100%;
    background-image: url(../Resources/imgfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;
    position: relative;
}

#headerSNIMG {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.letras {
    color: white;
    font-weight: bold;
    font-family: 'Tillana', cursive;
    font-size: 40px;
    padding-top: 20%;
}

#btnVerMas {
    padding-top: 6%;
}

.verMas {
    background-color: #EC7C26;
    border-color: #EC7C26;
    padding: 5px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.verMas:hover {
    background-color: #F78935;
    border-color: #F78935;
    color: white;
    font-weight: bold;
}

/*Contenidos*/
.titulos {
    color: #EC7C26;
    text-align: center;
    font-weight: bold;
    font-family: 'Tillana', cursive;
    padding-top: 4%;
    padding-bottom: 2%;
}

/*Contenido Acerca de Nosotros*/
#infoSN {
    padding: 0% 10%;
}

#parrafoSN {
    text-align: justify;
    font-size: 20px;
    padding-bottom: 2%;
}

/*Contenido de Contacto*/
#contacto {
    display: flex;
    padding-bottom: 4%;
}

.icono {
    background-color: #EC7C26;
    padding: 15px;
    color: white;
    font-size: 25px;
    border-radius: 100%;
}

#llamar, #email, #whatsapp {
    text-align: center;
    width: 33.3%;
}

.textoSobre {
    margin: 5%;
}

/*Desarrolladores*/
#desarrolladores {
    background-color: rgb(39, 39, 39);
    padding-bottom: 5%;
    color: white;
}

#conteAutores {
    display: flex;
}

.autores {
    width: 30%;
    text-align: center;
    align-content: center;
    background-color: #EC7C26;
    border-radius: 10%;
    padding: 2%;
    margin-right: 10%;
    margin-left: 10%;
}

.nombres, .textoA {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    font-weight: bold;
    color: white;
}

.enlace {
    color: rgb(233, 232, 232);
    font-weight: bold;
    text-decoration: none;
}

.enlace:hover{
    color: black;
}
