/*Style Header*/
#contenedorSN {
    width: 100%;
    background-image: url(../Resources/imgfondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 610px;
    position: relative;
}

#contenedorSNIMG {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-top: 3.5%;
}

/*Style Contenido Inicio Sesión*/
#contenidoIS {
    width: 40%;
    border: 1px solid black;
    background-color: #f7b482;
    margin: 0 auto;
    text-align: center;
}

.contenido {
    padding-top: 1%;
    padding-bottom: 1%;
}

#titulo {
    color: white;
    font-family: 'Tillana', cursive;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #EC7C26;
    border-bottom: 1px solid black;
}

#imgUsuario {
    width: 30%;
}

.texto {
    text-align: center;
    font-size: 18px;
}

.ingreso {
    background-color: #EC7C26;
    border-color: #EC7C26;
    padding: 5px 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-bottom: 1%;
}

.ingreso:hover {
    background-color: #F78935;
    border-color: #F78935;
}

#contrasenna {
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

#contrasenna:hover {
    color: rgb(56, 56, 56);
}
