@{
    ViewBag.Title = "Registrarse";
}

<div id="contenedorR">
    <div id="contenedorRIMG">
        <div id="contenidoR" class="mt-5">

            <h4 id="titulo">Registro</h4>

            <div>
                <div class="contenido">
                    <div class="info">
                        <label class="texto">Número de cédula</label>
                        <br>
                        <i class="bi bi-person-badge-fill"></i>
                        <input class="texto" type="text" />
                    </div>

                    <div class="info">
                        <label class="texto">Nombre</label>
                        <br>
                        <i class="bi bi-person-fill"></i>
                        <input class="texto" type="text" />
                    </div>
                </div>

                <div class="contenido">
                    <div class="info">
                        <label class="texto">Primer apellido</label>
                        <br>
                        <i class="bi bi-person-fill"></i>
                        <input class="texto" type="text" />
                    </div>

                    <div class="info">
                        <label class="texto">Segundo apellido</label>
                        <br>
                        <i class="bi bi-person-fill"></i>
                        <input class="texto" type="text" />
                    </div>
                </div>

                <div class="contenido">
                    <div class="info">
                        <label class="texto">Número de teléfono</label>
                        <br>
                        <i class="bi bi-telephone-fill"></i>
                        <input class="texto" type="text" />
                    </div>

                    <div class="info">
                        <label class="texto">Correo electrónico</label>
                        <br>
                        <i class="bi bi-envelope-fill"></i>
                        <input class="texto" type="text" />
                    </div>
                </div>

                <div class="contenido">
                    <div class="info">
                        <label class="texto">Contraseña</label>
                        <br>
                        <i class="bi bi-lock-fill"></i>
                        <input class="texto" type="password" />
                    </div>

                    <div class="info">
                        <label class="texto">Confrrmar Contraseña</label>
                        <br>
                        <i class="bi bi-lock-fill"></i>
                        <input class="texto" type="password" />
                    </div>
                    <br>
                </div>

                <div class="pb-4">
                    <br>
                    <button class="registro">Registrarme</button>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>@{
    ViewBag.Title = "Registrarse";
}

<div id="contenedorR">
    <div id="contenedorRIMG">
        <div id="contenidoR" class="mt-5">

            <h4 id="titulo">Registro</h4>

            <div>
                <div class="contenido">
                    <div class="info">
                        <label class="texto">Número de cédula</label>
                        <br>
                        <i class="bi bi-person-badge-fill"></i>
                        <input class="texto" type="text" />
                    </div>

                    <div class="info">
                        <label class="texto">Nombre</label>
                        <br>
                        <i class="bi bi-person-fill"></i>
                        <input class="texto" type="text" />
                    </div>
                </div>

                <div class="contenido">
                    <div class="info">
                        <label class="texto">Primer apellido</label>
                        <br>
                        <i class="bi bi-person-fill"></i>
                        <input class="texto" type="text" />
                    </div>

                    <div class="info">
                        <label class="texto">Segundo apellido</label>
                        <br>
                        <i class="bi bi-person-fill"></i>
                        <input class="texto" type="text" />
                    </div>
                </div>

                <div class="contenido">
                    <div class="info">
                        <label class="texto">Número de teléfono</label>
                        <br>
                        <i class="bi bi-telephone-fill"></i>
                        <input class="texto" type="text" />
                    </div>

                    <div class="info">
                        <label class="texto">Correo electrónico</label>
                        <br>
                        <i class="bi bi-envelope-fill"></i>
                        <input class="texto" type="text" />
                    </div>
                </div>

                <div class="contenido">
                    <div class="info">
                        <label class="texto">Contraseña</label>
                        <br>
                        <i class="bi bi-lock-fill"></i>
                        <input class="texto" type="password" />
                    </div>

                    <div class="info">
                        <label class="texto">Confrrmar Contraseña</label>
                        <br>
                        <i class="bi bi-lock-fill"></i>
                        <input class="texto" type="password" />
                    </div>
                    <br>
                </div>

                <div class="pb-4">
                    <br>
                    <button class="registro">Registrarme</button>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>