
@{
    ViewBag.Title = "Acerca de Nosotros";
}

<div id="contenidoSN">
    <div id="infoEmpresa">

        <div id="headerSN">
            <div id="headerSNIMG">
                <h1 class="letras">LO MEJOR EN COMIDAS RÁPIDAS</h1>
                <div id="btnVerMas">
                    <button class="verMas">Ver más</button>
                </div>
            </div>
        </div>

        <div id="infoSN">
            <h3 class="titulos">Sobre Nosotros</h3>
            <p id="parrafoSN">
                Somos una cadena de comida rápida con sedes ubicadas en distintas áreas de Costa Rica,
                contamos con aproximadamente 5 años de experiencia brindando el mejor servicio en todos nuestros restaurantes y de manera online.
                Te invitamos a probar nuestras deliciosas comidas,
                ya que somos un concepto diferente de restaurante con una gran explosión de sabores para tu paladar.
            </p>
        </div>

        <div id="contacto">
            <div id="whatsapp">
                <i class="bi bi-whatsapp icono"></i>
                <h6 class="textoSobre">WhatsApp al <br> 62376682</h6>
            </div>


            <div id="llamar">
                <i class="bi bi-telephone icono"></i>
                <h6 class="textoSobre">Llámanos al <br> 2440 3580</h6>
            </div>

            <div id="email">
                <i class="bi bi-envelope icono"></i>
                <h6 class="textoSobre">Email <br> talis@gmail.com</h6>
            </div>
        </div>

        <div id="desarrolladores">

            <h3 class="titulos">Equipo de Desarrollo</h3>

            <div id="conteAutores">
                <div class="autores">
                    <h5 class="nombres">Hazeel Michelle Calderón Gaitán</h5>
                    <h6 class="textoA">
                        Email:
                        <a class="enlace" href="mailto:hcalderon1527@gmail.com">
                            hcalderon1527@gmail.com
                        </a>
                    </h6>
                    <h6 class="textoA">Número de Teléfono: 506 6237 6682</h6>
                </div>

                <div class="autores">
                    <h5 class="nombres">Mauricio Steven Obando Tobares</h5>
                    <h6 class="textoA">
                        Email:
                        <a class="enlace" href="mailto:steventobares65@gmail.com"> steventobares65@gmail.com </a>
                    </h6>
                    <h6 class="textoA">Número de Teléfono: 506 7294 3070</h6>
                </div>
            </div>

        </div>

    </div>
</div>


