@{
    ViewBag.Title = "Mensaje";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="text-center" style="margin-top: 15%;">
    <h2>Usuario Registrado</h2>

    <p>¡El usuario ha sido registrado con éxito!</p>

    <div class="text-center">
        <a href="@Url.Action("RegistroCliente", "Usuario")" class="botones mt-2 pt-2 pb-2" id="bg-link" style="width: 12%; margin: 0 auto;">
            <span>Aceptar</span>
        </a>
    </div>
</div>