
@{
    ViewBag.Title = "NoEncontrado";
    Layout = "~/Views/Shared/_LayoutSidebar.cshtml";
}

<h1>El recurso solictado no ha sido encontrado</h1>

<a href="@Url.Action("Index", "Mesas")" class="btn btn-primary btnAccion">Click aquí para regresar al home</a>

